/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}
.white-text{
  background-color: red;

}
p {
  color: yellow;
  margin: 0;
  padding: 10px;
}
*{
  padding: 10px;
  font-size: large;
}
#outer-box{
  border-color: darkmagenta;
  border-width: 10px;
  border-style: solid;
}