body{
      background-color: black;
}
img{
    border: 5px solid white;
    margin-top: 10%;
    width:"100%";
}
h1{
    color: white;
    text-align: center;
    font-size: 300%;
}
div{
    width: 50%;
    margin-left: 20%;
    margin-right: 55%;
}
p{
  color: white;
  text-align: center;
  font-size: 120%;
}
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}